.wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .container{
                max-width: 1280px;
                width: 100%;
                height: 100%;
                margin-right: 20px;
                margin-left: 20px;
        }
}

.container-news{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px auto;
}

.item-news{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        border-radius: 7px;
        background-color: beige;
        padding: 5px 10px;
}

.title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .button-reload-news{
                cursor: pointer;
                padding: 8px 16px;
                border-radius: 5px;
                background-color: antiquewhite;
        }
}

.current-container{
        width: 100%;
        height: 100%;
        padding: 15px 30px;
        margin: 20px 40px;
        background-color: #FAFAD2;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .button-back{
                width:min-content;
                background-color: rgba(#FAFA, 0.3);
                padding: 7px;
                border-radius: 5px;
                p{
                        padding: 0;
                        margin: 0;
                        white-space: nowrap;
                        font-size: 15px;
                        cursor: pointer;
                }

        }

        .text{

        }
}

.comments{
        .comments-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                
        }

        .container{
                margin-top: 10px;
        }
}

.item-comment{
        width: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        gap: 7px;
        border-left: 3px solid black;
        margin-left: 15px;

        .title-author-time{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                padding-left: 10px;
                padding-right: 10px;
        }

        .description{
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .button-more{
                        width:min-content;
                        p{
                                padding: 0;
                                margin: 0;
                                white-space: nowrap;
                                // font-size: 15px;
                                cursor: pointer;
                        }
                }
        }
}